{{define "footer"}}
<div
    class="flex flex-wrap flex-initial justify-around items-center bg-gradient-to-tr from-sky-800 to-blue-900 p-14 gap-10 basis-1/2">
    <div class="flex-initial flex-col">
        <div id="contact" class="mb-5">
            <span class="text-lg text-gray-100">Contact</span>
        </div>
        <div>
            <span class="font-sans font-thin text-gray-300">
                <a href="tel:1-877-ADR-2525 ">1-877-ADR-2525</a>
            </span>
        </div>
        <div>

            <span class="font-sans font-thin text-gray-300">
                <a href="mailto:sales@adrpowersystems.com">sales@adrpowersystems.com</a>
            </span>
        </div>
        <div>

            <span class="font-sans font-thin text-gray-300">
                <a href="mailto:service@adrpowersystems.com">service@adrpowersystems.com</a>
            </span>
        </div>
    </div>
    <div class="flex-initial text-3xl text-center text-gray-300">
        <a href="//facebook.com/adrpowersystems">
            <i class="fa-brands fa-facebook p-5 hover:text-slate-500 transition-colors rounded-full"></i>
        </a>
        <a href="//instagram.com/adrpowersystems">
            <i class="fa-brands fa-instagram p-5 hover:text-slate-500 transition-colors rounded-full"></i>
        </a>
    </div>
</div>
{{end}}