{{define "footer"}}
<div id="nav" class="flex flex-wrap flex-initial justify-center items-baseline bg-gradient-to-tr from-sky-800 to-blue-900 p-14 gap-10 basis-1/2">
    <div class="flex-initial">
        <span class="cursor-pointer font-sans font-thin text-gray-300">
            Phone: 1-877-ADR-2525
        </span>
        <br>
        <span class="cursor-pointer font-sans font-thin text-gray-300">
            Sales: sales@adrpowersystems.com
        </span>
        <br>
        <span class="cursor-pointer font-sans font-thin text-gray-300">
            Service: service@adrpowersystems.com
        </span>
    </div>
</div>
{{end}}