{{define "footer"}}
<div id="nav" class="flex flex-wrap flex-initial justify-center items-baseline bg-sky-900 p-14 gap-10 basis-1/2">
    <div class="flex-initial">
        <a href="/index.html">
            <span class="cursor-pointer font-sans font-thin text-gray-400">
                travis@adrpowersystems.com
            </span>
            <br>
            <span class="cursor-pointer font-sans font-thin text-gray-400">
                1111
            </span>
        </a>
    </div>
</div>
{{end}}