{{define "careers"}}
{{template "head" .}}

<body x-data>
    <div class="flex flex-col gap-16 min-h-screen">
        {{template "nav" .}}
        <div class="flex grow flex-col p-5 lg:p-0 items-center lg:flex-row gap-10 lg:mx-24 text-left backdrop-saturate-75 rounded-md">
            <img class="lg:basis-1/2 object-fit lg:w-1/2 lg:h-1/2 rounded-md" src="/assets/image/careers.jpg" alt="">
            <div class="flex flex-col gap-10 text-left items-center justify-start basis-1/2 font-thin mx-10 lg:mx-0 text-lg text-black">
                <h1 class="text-6xl font-serif capitalize text-center">Careers</h1>
                <p>ADR Power Systems offers best-in-class benefits to ensure the
                    well-being of our employees:</p>
                <ol class="list-disc">
                    <li>Highly competitive salaries </li>
                    </li>
                    <li>401(k) employer match </li>
                    </li>
                    <li>70% Company paid health insurance</li>
                    </li>
                    <li>Company paid dental, vision, and life insurance
                    </li>
                    <li>Paid Time Off 15 days with rollover option</li>
                    </li>
                    <li>Paid holidays </li>
                </ol>
                <p>To apply, send your resume to <a class="text-emerald-500" target="_blank" href="mailto:accounting@adrpowersystems.com">accounting@adrpowersystems.com</a></p>
            </div>
        </div>
        {{template "footer" .}}
    </div>
</body>
</html>

{{end}}