{{define "caterpillar"}}
{{template "head" .}}

<body x-data>
    <div class="flex flex-col gap-16 min-h-screen">
        {{template "nav" .}}
        <div class="flex flex-col p-5 justify-center items-center gap-10">
            <div
                class="flex flex-col gap-10 text-left items-center justify-start basis-1/2 font-thin text-lg text-black">
                <h1 class="text-6xl font-serif capitalize text-center">Caterpillar</h1>
                <p>Our team of technicians, with over 100 years of Marine Caterpillar Engine experience, execute
                    projects ranging from C2.2 Diesel Marine Generators to 3600 series engines and everything in
                    between. We also offer Maintenance Agreements to keep your investment running nominally.</p>
            </div>
            <div class="flex flex-col lg:flex-row w-full gap-10">
                <img class="lg:basis-1/3 shrink lg:w-1/2 lg:h-1/2 rounded-md object-scale-down" src="/assets/image/3500.png" alt="">
                <img class="lg:basis-1/3 shrink lg:w-1/2 lg:h-1/2 rounded-md object-scale-down" src="/assets/image/C 32.jpg" alt="">
                <img class="lg:basis-1/3 shrink lg:w-1/2 lg:h-1/2 rounded-md object-scale-down" src="/assets/image/C18.jpg" alt="">
            </div>
        </div>
        <div class="grow"></div>
        {{template "footer" .}}
    </div>
</body>

</html>

{{end}}
