{{define "glendinning"}}
{{template "head" .}}

<body x-data>
    <div class="flex flex-col gap-16 min-h-screen">
        {{template "nav" .}}
        <div class="flex p-5 justify-center">
            <div
                class="flex lg:basis-1/2 flex-col p-5 lg:p-0 items-stretch lg:items-center gap-10 lg:mx-24 text-left backdrop-saturate-75 rounded-md">
                <img class="lg:basis-1/2 object-fit lg:w-1/2 lg:h-1/2 rounded-md" src="/assets/image/glendinning.png"
                    alt="">
                <div
                    class="flex flex-col gap-10 text-left items-center justify-start basis-1/2 font-thin text-lg text-black">
                    <p>From mechanical control cables, cable and hose handling systems to sophisticated propulsion
                        vessel
                        control systems, Glendinning strives to create innovative products that fulfill customers needs,
                        solve problems as well as provide new feature sets for various markets.
                        Glendinning supplies the world with innovative solutions. Established in 1972, Glendinning
                        Products
                        has built a reputation for quality and innovation. This recognition comes from a continuous
                        commitment to manufacturing quality, leading-edge products and providing superior service.
                    <p>
                        ADR's trained technicians provide support ranging from simple troubleshooting to repair and
                        installation of complex electronic systems.
                    </p>
                </div>
            </div>
        </div>
        <div class="grow"></div>
        {{template "footer" .}}
    </div>
</body>

</html>

{{end}}
